apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "logrotate.name" . }}
spec:
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
{{ include "logrotate.labels.chart" . | indent 6 }}
  template:
    metadata:
      labels:
{{ include "logrotate.labels.chart" . | indent 8 }}
      name: {{ template "logrotate.name" . }}
    spec:
{{- if .Values.rbac.create }}
{{- if .Values.rbac.serviceAccount }}
      serviceAccountName: {{ .Values.rbac.serviceAccount }}
{{- else }}
      serviceAccountName: {{ template "logrotate.name" . }}
{{- end }}
{{- end }}
      containers:
      - name: {{ template "logrotate.name" . }}
        image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
{{- if .Values.securityContext }}
        securityContext:
{{ toYaml .Values.securityContext | indent 10 }}
{{- else }}
        securityContext:
          privileged: true
{{- end }}
        volumeMounts:
         - name: containers
           mountPath: /var/lib/docker/containers
         - name: {{ template "logrotate.name" . }}-config
           mountPath: /etc/{{ template "logrotate.name" . }}.d/k8s-logrotate.conf
           subPath: k8s-logrotate.conf
        env:
          - name: CRON_SCHEDULE
            value: "{{ .Values.cronSchedule }}"
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 6 -}}
      {{- end }}
      volumes:
         - hostPath:
             path: /var/lib/docker/containers
           name: containers
         - configMap:
            name: {{ template "logrotate.name" . }}
           name: {{ template "logrotate.name" . }}-config
